[project]
	description = An Android Swipe Refresh example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmgaleano
[access "refs/for/refs/*"]
	read = group user/mmgaleano
	push = group user/mmgaleano
	label-Code-Review = -2..+2 group user/mmgaleano
	label-Verified = -1..+1 group user/mmgaleano
	rebase = group user/mmgaleano
	removeReviewer = group user/mmgaleano
	submit = group user/mmgaleano
[access "refs/heads/*"]
	read = group user/mmgaleano
	create = group user/mmgaleano
	push = +force group user/mmgaleano
	pushMerge = group user/mmgaleano
[access "refs/tags/*"]
	push = group user/mmgaleano
	push = +force group user/mmgaleano
